@model BudgetManager.ViewModels.EMIDetailsViewModel
@{
    ViewData["Title"] = "EMIDetails";
}


<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Save", "EMI"))
{
    <table id="EMIConfig" class="table table-­bordered table-­hover”>">
        <tbody>
            <tr>
                <td>GroupName</td>
                <td>@Model.GroupName</td>
            </tr>
            <tr>
                <td>UserName</td>
                <td>@Model.UserAccountName</td>
            </tr>
            <tr>
                <td>InstallmentDayOfMonth</td>
                <td>@Model.EMIHeader.InstallmentDayOfMonth</td>
            </tr>
            <tr>
                <td>LoanAmount</td>
                <td>@Model.EMIHeader.LoanAmount</td>
            </tr>
            <tr>
                <td>MonthlyRateOfInterest</td>
                <td>@Model.EMIHeader.MonthlyRateOfInterest</td>
            </tr>
            <tr>
                <td>NoOfInstallment</td>
                <td>@Model.EMIHeader.NoOfInstallment</td>
            </tr>
            <tr>
                <td>LockInPeriod</td>
                <td>@Model.EMIHeader.LockInPeriod</td>
            </tr>
        </tbody>
    </table>

    <h1>EMIDetails</h1>

    <table id="EMIDetails" class="table table-­bordered table-­hover”>">
        <tbody>
            <tr>
                <td>MonthlyRateOfInterest</td>
                <td>@Model.EMIHeader.MonthlyRateOfInterest.ToString("0.00000")</td>
            </tr>
            <tr>
                <td>EMIAmount</td>
                <td>@Model.EMIHeader.EMIAmount.ToString("0.00")</td>
            </tr>
            <tr>
                <td>StartTime</td>
                <td>@Model.EMIHeader.StartTime.ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <td>EndTime</td>
                <td>@Model.EMIHeader.EndTime.ToString("dd MMM yyyy")</td>
            </tr>
        </tbody>
    </table>

    <h1>Installments</h1>

    <table id="Installments" class="table table-­bordered table-­hover”>">
        <thead>
            <tr>
                <th>Inst.No</th>
                <th>Status</th>
                <th>DueDate</th>
                <th>PaymentDate</th>
                <th>Opening</th>
                <th>PrincipalAmt</th>
                <th>Int.Amt</th>
                <th>EMIAmt</th>
                <th>Fine</th>
                <th>Closing</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var installment in Model.Installments)
            {
                <tr>
                    <td>@installment.InstallmentNo</td>
                    <td>@((Enumeration.InstallmentStatus)installment.InstallmentStatus)</td>
                    <td>@installment.DueDate.ToString("dd MMM yyyy")</td>
                    <td>@installment.PaymentDate?.ToString("dd MMM yyyy")</td>
                    <td>@installment.Opening.ToString("0.00")</td>
                    <td>@installment.PrincipalAmount.ToString("0.00")</td>
                    <td>@installment.InterestAmount.ToString("0.00")</td>
                    @if (installment.Difference > 0)
                    {
                        <td>
                            @installment.EMIAmount.ToString("0.00") + @installment.Difference.ToString("0.00")
                        </td>
                    }
                    else if (installment.Difference == 0)
                    {
                        <td>
                            @installment.EMIAmount.ToString("0.00")
                        </td>
                    }
                    else
                    {
                        <td>
                            @installment.EMIAmount.ToString("0.00") - @installment.Difference.ToString("0.00")
                        </td>
                    }
                    <td>@installment.Fine.ToString("0.00")</td>
                    <td>@Math.Abs(installment.Closing).ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.HiddenFor(m => m.EMIHeader.LoanAmount)
    @Html.HiddenFor(m => m.EMIHeader.LockInPeriod)
    @Html.HiddenFor(m => m.EMIHeader.MonthlyRateOfInterest)
    @Html.HiddenFor(m => m.EMIHeader.NoOfInstallment)
    @Html.HiddenFor(m => m.EMIHeader.StartTime)
    @Html.HiddenFor(m => m.EMIHeader.EndTime)
    @Html.HiddenFor(m => m.EMIHeader.EMIAmount)
    @Html.HiddenFor(m => m.EMIHeader.EMIHeaderId)
    @*new variables added*@
    @Html.HiddenFor(m => m.EMIHeader.GroupId)
    @Html.HiddenFor(m => m.EMIHeader.UserAccountId)
    @Html.HiddenFor(m => m.EMIHeader.EMIType)
    @Html.HiddenFor(m => m.EMIHeader.LoanStatus)
    @Html.HiddenFor(m => m.EMIHeader.InstallmentDayOfMonth)
    @Html.HiddenFor(m => m.EMIHeader.DelayFine)
    @Html.HiddenFor(m => m.EMIHeader.DelayFineType)
    @Html.HiddenFor(m => m.EMIHeader.DelayFinePeriod)
    @Html.HiddenFor(m => m.EMIHeader.InterestTermId)

    @for (int i = 0; i < Model.Installments.Count; i++)
    {
        @Html.HiddenFor(m => m.Installments[i].Closing)
        @Html.HiddenFor(m => m.Installments[i].DueDate)
        @Html.HiddenFor(m => m.Installments[i].Difference)
        @Html.HiddenFor(m => m.Installments[i].EMIAmount)
        @Html.HiddenFor(m => m.Installments[i].EMIHeaderId)
        @Html.HiddenFor(m => m.Installments[i].Id)
        @Html.HiddenFor(m => m.Installments[i].InstallmentNo)
        @Html.HiddenFor(m => m.Installments[i].InterestAmount)
        @Html.HiddenFor(m => m.Installments[i].Opening)
        @Html.HiddenFor(m => m.Installments[i].PrincipalAmount)
        @*new variables added*@
        @Html.HiddenFor(m => m.Installments[i].GroupId)
        @Html.HiddenFor(m => m.Installments[i].UserAccountId)
        @Html.HiddenFor(m => m.Installments[i].EMIType)
        @Html.HiddenFor(m => m.Installments[i].InstallmentStatus)
        @Html.HiddenFor(m => m.Installments[i].Fine)

    }
    @if (Model.EMIHeader == null || Model.EMIHeader.EMIHeaderId == 0)
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }
    else
    {
        <p>@Html.ActionLink("Ok", "Index", "EMI", null, new { @class = "btn btn-primary" })</p>
    }
}
