@model IEnumerable<TheBankMVC.Models.EMIHeader>
@{
    ViewData["Title"] = "List";
}

<h1>Get Loan</h1>

<p>@Html.ActionLink("EMIConfig", "New", "EMI", null, new { @class = "btn btn-primary" })</p>

<div><h3>EMI List</h3><br /></div>
<table id="EMIList" class="table table-­bordered table-­hover”>">
    <thead>
        <tr>
            <th>EMIAmount</th>
            <th>LoanAmount</th>
            <th>MonthlyRateOfInterest</th>
            <th>NoOfInstallment</th>
            <th>LockInPeriod</th>
            <th>StartTime</th>
            <th>EndTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eMI in Model)
        {
        <tr>
            <td>@Html.ActionLink(eMI.EMIAmount + "", "View", "EMI", new { Id = eMI.EMIHeaderId })</td>
            <td>@eMI.LoanAmount</td>
            <td>@eMI.MonthlyRateOfInterest</td>
            <td>@eMI.NoOfInstallment</td>
            <td>@eMI.LockInPeriod</td>
            <td>@eMI.StartTime</td>
            <td>@eMI.EndTime</td>
        </tr>
        }
    </tbody>
</table>
