@using BudgetManager.Models
@model IEnumerable<BudgetManager.ViewModels.EMIHeaderViewModel>
@{
    ViewData["Title"] = "EMIs";
}

<h1>@ViewData["Title"]</h1>

<p>@Html.ActionLink("EMIConfig", "New", "EMI", null, new { @class = "btn btn-primary" })</p>

<table id="EMIList" class="table table-­bordered table-­hover”>">
    <thead>
        <tr>
            <th>GroupName</th>
            <th>UserName</th>
            <th>EMIType</th>
            <th>EMIAmount</th>
            <th>LoanAmount</th>
            <th>LoanStatus</th>
            <th>StartTime</th>
            <th>EndTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eMI in Model)
        {
        <tr>
            <td>@eMI.GroupName</td>
            <td>@Html.ActionLink(eMI.UserAccountName, "View", "EMI", new { Id = eMI.EMIHeaderId })</td>
            <td>@((Enumeration.EMIType)eMI.EMIType)</td>
            <td>@eMI.EMIAmount</td>
            <td>@eMI.LoanAmount</td>
            <td>@((Enumeration.LoanStatus)eMI.LoanStatus)</td>
            <td>@eMI.StartTime</td>
            <td>@eMI.EndTime</td>
        </tr>
        }
    </tbody>
</table>
