@model TheBankMVC.ViewModels.EMIConfig
@{
    ViewData["Title"] = "EMIConfig";
}

<h1>
    EMIConfig
</h1>

@using (Html.BeginForm("EMIDetails", "EMICalculator"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.LoanAmount)
        @Html.TextBoxFor(m => m.LoanAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoanAmount)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MonthlyRateOfInterest)
        @Html.TextBoxFor(m => m.MonthlyRateOfInterest, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MonthlyRateOfInterest)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NoOfInstallment)
        @Html.TextBoxFor(m => m.NoOfInstallment, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoOfInstallment)
    </div>
    @*
        <div class="form-group ">
            @Html.LabelFor(m => m.LockInPeriod)
            @Html.TextBoxFor(m => m.LockInPeriod, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LockInPeriod)
        </div>
    *@
    <button type="submit" class="btn btn-primary">Submit</button>
}
