@model TheBankMVC.ViewModels.UserAccountViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FineSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FineSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOnLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOnLoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserAccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
