@model IEnumerable<BudgetManager.ViewModels.UserAccountViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groups.First().GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShareSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOnLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Groups.Where(b => b.GroupId == item.GroupId).First().GroupName)
            </td>
            <td>
                @Html.ActionLink(item.UserAccountName , "Edit", new { Id = item.UserAccountId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @item.ShareSubmitted.ToString("0.00")
            </td>
            <td>
                @item.FineSubmitted.ToString("0.00")
            </td>
            <td>
                @item.InterestSubmitted.ToString("0.00")
            </td>
            <td>
                @item.AmountOnLoan.ToString("0.00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
             @*<td>
               <a asp-action="Edit" asp-route-id="@item.UserAccountId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.UserAccountId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.UserAccountId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
