@model IEnumerable<TheBankMVC.ViewModels.BankViewModel>

@{
    ViewData["Title"] = "Banks";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankInstAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmtOnLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmtInBank)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankInstAmt)
            </td>
            <td>
                @item.TotalShare.ToString("0.00")
            </td>
            <td>
                @item.TotalFine.ToString("0.00")
            </td>
            <td>
                @item.TotalInterest.ToString("0.00")
            </td>
            <td>
                @item.TotalAmtOnLoan.ToString("0.00")
            </td>
            <td>
                @item.TotalAmtInBank.ToString("0.00")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BankId">View</a> |
                @*<a asp-action="Details" asp-route-id="@item.BankId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BankId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
