@using BudgetManager.Models
@model IEnumerable<BudgetManager.ViewModels.EMIHeaderViewModel>
@{
    ViewData["Title"] = "Loans";
}

<h1>@ViewData["Title"]</h1>

<p>@Html.ActionLink("New Loan", "New", new Object(), new { @class = "btn btn-primary btn-sm" })</p>

<table id="EMIList" class="table table-­bordered table-­hover”>">
    <thead>
        <tr class="table-dark">
            <th>@Html.DisplayNameFor(model => model.GroupName)</th>
            <th>@Html.DisplayNameFor(model => model.UserAccountName)</th>
            <th>@Html.DisplayNameFor(model => model.EMIType)</th>
            <th>@Html.DisplayNameFor(model => model.EMIAmount)</th>
            <th>@Html.DisplayNameFor(model => model.LoanAmount)</th>
            <th>@Html.DisplayNameFor(model => model.LoanStatus)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.EndTime)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eMI in Model)
        {
        <tr class="table-secondary">
            <td>@eMI.GroupName</td>
            <td>@Html.ActionLink(eMI.UserAccountName, "View", new { Id = eMI.EMIHeaderId }, new { @class = "btn-link" })</td>
            <td>@((Enumeration.EMIType)eMI.EMIType)</td>
            <td>@eMI.EMIAmount</td>
            <td>@eMI.LoanAmount</td>
            <td>@((Enumeration.LoanStatus)eMI.LoanStatus)</td>
            <td>@eMI.StartTime</td>
            <td>@eMI.EndTime</td>
        </tr>
        }
    </tbody>
</table>
