@model IEnumerable<BudgetManager.ViewModels.GroupViewModel>

@{
    ViewData["Title"] = "Groups";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupInstAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmtOnLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmtInGroup)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupInstAmt)
            </td>
            <td>
                @item.TotalShare.ToString("0.00")
            </td>
            <td>
                @item.TotalFine.ToString("0.00")
            </td>
            <td>
                @item.TotalInterest.ToString("0.00")
            </td>
            <td>
                @item.TotalAmtOnLoan.ToString("0.00")
            </td>
            <td>
                @item.TotalAmtInGroup.ToString("0.00")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">View</a> |
                @*<a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
