@model BudgetManager.ViewModels.InstallmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Installment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstallmentNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opening)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opening)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrincipalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrincipalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterestAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterestAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EMIAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMIAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Difference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Difference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Closing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Closing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstallmentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
