@model BudgetManager.ViewModels.TransactionsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @nameof(Group.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Groups.FirstOrDefault().GroupName)
        </dd>
        <dt class="col-sm-2">
            @nameof(UserAccount.UserAccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAccounts.FirstOrDefault().UserAccountName)
        </dd>
        <dt class="col-sm-2">
            @nameof(Enumeration.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @((Enumeration.TransactionType)Model.TransactionTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionRemark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
