@model IEnumerable<TheBankMVC.ViewModels.TransactionsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @nameof(Bank.BankName)
            </th>
            <th>
                @nameof(UserAccount.UserAccountName)
            </th>
            <th>
                @nameof(Enumeration.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Banks.FirstOrDefault().BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccounts.FirstOrDefault().UserAccountName)
            </td>
            <td>
                @((Enumeration.TransactionType)item.TransactionTypeId)
            </td>
            <td>
                @item.TransactionAmount.ToString("0.00")
            </td>
            <td>
                @item.TransactionDate.ToString("dd MMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
