@model IEnumerable<BudgetManager.ViewModels.TransactionsViewModel>

@{
    ViewData["Title"] = "Transactions";
}

<h1>@ViewData["Title"]</h1>

<p>@Html.ActionLink("Create New", "Create", "Transactions", null, new { @class = "btn btn-primary btn-sm" })</p>

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @nameof(Group.GroupName)
            </th>
            <th>
                @nameof(UserAccount.UserAccountName)
            </th>
            <th>
                @nameof(Enumeration.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.Groups.FirstOrDefault().GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccounts.FirstOrDefault().UserAccountName)
            </td>
            <td>
                @((Enumeration.TransactionType)item.TransactionTypeId)
            </td>
            <td>
                @item.TransactionAmount.ToString("0.00")
            </td>
            <td>
                @item.TransactionDate.ToString("dd MMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceType)
            </td>
            <td>
                 @Html.ActionLink("Details" , "Details", "Transactions", new { Id = item.TransactionId }, new { @class = "btn-link" })
            </td>
        </tr>
    }
    </tbody>
</table>
